p{
	font size: 12px;
	font-family: "Times New Roman", serif;
	font color:	#656565;
}

body{
	width: 70%;

}

.footer{
	display: inline;
	position: relative;
	margin: 0 auto;
}

#images{
	width: 900px;
	margin-right: auto;
}


/*Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
